body{
    background-color:white;
}

.button {
 background-color: LightSkyBlue;
  color: white;
   border-radius: 10px;
  text-align: right;
}
.e1 {
    background-color: AliceBlue;
    padding: 20px;               
    text-align: center;          
    border-radius: 8px;       
}
.e1 h1{
  color:burlywood;
}

