.contact {
  margin: 40px auto;
  padding: 20px;
  font-family: Arial, Helvetica, sans-serif;
  color: #333;
}
.cont{
 color:royalblue;
    font-size: 40px;
    font-family: serif;
    font-weight:bold;
    text-align: center;

}

.contact h2 {
  text-align: center;
  color:royalblue;
  margin-bottom: 10px;
}



.info {
  background-color:aliceblue;
  border-left: 5px solid royalblue;
  padding: 20px;
  margin-bottom: 20px;
}

.info h3 {
  margin-bottom: 10px;
  color: #0a5aa3;
}

.info p {
  text-align: left;
  margin: 0;
  line-height: 1.6;
  font-size: 15px;
}

 
