.navlink {
    margin-top: -20px;
  background-color: lightskyblue;
  padding: 14px 14px;
  font-size: 17px;
  text-align:right;
}
.logo{
  height:56px;
width:56px;
}
.title{
  font-family: sans-serif;
  font-size: 45px;
   letter-spacing: 2px;
  text-align: center;
  color:darkred;
}