.service{
    background-color: aliceblue;

}
.serv{
   color:royalblue;
    font-size: 40px;
    font-family: serif;
    font-weight:bold;
    text-align: center;
}
.sub h2{
        color:royalblue;
    font-size: 20px;
}
